    #                                 Employee Exit Servey

## Employee exit surveys are used to collect information from employees.who have willingly left their current position in favour of one at a different organisation.

# Requried Libraries

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
def read_csv():
    df=pd.read_csv(r"C:\Users\Ramakrishna\Desktop\Employee\Employee Exit Survey.csv")
    return df

# ùêÑùêÉùêÄ (ùêÑùê±ùê©ùê•ùê®ùê´ùêû ùêÉùêöùê≠ùêö ùêÄùêßùêöùê•ùê≤ùê¨ùê¢ùê¨)

## Data Cleaning

### ùêëùêûùê¶ùê®ùêØùê¢ùêßùê† ùêÄùê•ùê• Unnecessary ùêúùê®ùê•ùêÆùê¶ùêßùê¨

In [14]:
def drop_unnecessary():
    df=read_csv()
    df.drop(["_id",'Career move to public sector',
       'Career move to private sector', 'Interpersonal conflicts',
       'Job dissatisfaction', 'Dissatisfaction with the department',
       'Physical work environment', 'Lack of recognition',
       'Lack of job security', 'Work location', 'Employment conditions',
       'Maternity/family', 'Relocation', 'Study/Travel', 'Ill Health',
       'Traumatic incident', 'Work life balance', 'Workload',
       'None of the above','Aboriginal', 'Torres Strait', 'South Sea', 'Disability',
       'NESB','Professional Development',
       'Opportunities for promotion', 'Staff morale', 'Workplace issue',
       'Physical environment', 'Worklife balance',
       'Stress and pressure support', 'Performance of supervisor',
       'Peer support', 'Initiative', 'Skills', 'Coach', 'Career Aspirations',
       'Feedback', 'Further PD', 'Communication', 'My say', 'Information',
       'Kept informed', 'Wellness programs', 'Health & Safety'],axis=1,inplace=True)
    return df

### Checking the duplicate values

In [28]:
def check_duplicate_values():
    df=drop_unnecessary()
    duplicate_values=df.duplicated().sum()
    return duplicate_values

In [29]:
check_duplicate_values()

0

### Checking Null Values or Not

In [32]:
def check_nulls():
    df=drop_unnecessary()
    check_nul=df.isna().sum()
    return check_nul

In [43]:
#check_nulls()

### Removing Null Values

In [40]:
def removing_nulls():
    df=drop_unnecessary()
    df.dropna(inplace=True)
    return df

In [42]:
#removing_nulls()

### rename the columns

In [44]:
def rename_columns():
    df=removing_nulls()
    name={'ID':'Record_id',"SeparationType":'Separation_Type',"Cease Date":'case_date',"DETE Start Date":"Start_Date","Role Start Date":"Date_of_join",
     "Position":'Position'}
    df.rename(columns=name,inplace=True)
    return df

In [46]:
#rename_columns()

### Correcting the  record_id column

In [85]:
def correct_id():
    df=rename_columns()
    df['Record_id']=x
    return df

In [77]:
x=[]
for i in range(1,87):
    x.append(i)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86]

In [87]:
#correct_id()

### Export data

In [89]:
def export_data():
    df=correct_id()
    df.to_csv("Employee_Exit_Survey.csv")
    return df

In [90]:
export_data()

,Record_id,Separation_Type,case_date,Start_Date,Date_of_join,Position,Classification,Region,Business Unit,Employment Status,Gender,Age
0,1,Ill Health Retirement,Aug-12,1984.0,2004.0,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,Male,56-60
10,2,Age Retirement,2012,1999.0,1999.0,Teacher,Primary,Central Office,Education Queensland,Permanent Full-time,Male,61 or older
26,3,Age Retirement,2012,1974.0,1977.0,Teacher,Primary,Central Office,Education Queensland,Permanent Full-time,Male,56-60
27,4,Resignation-Other employer,2012,2005.0,2011.0,Public Servant,AO5-AO7,Central Office,Information and Technologies,Permanent Full-time,Female,21-25
73,5,Contract Expired,2012,2009.0,2011.0,Public Servant,AO5-AO7,Central Office,Information and Technologies,Temporary Full-time,Male,26-30
...,...,...,...,...,...,...,...,...,...,...,...,...
721,82,Contract Expired,Sep-13,2013.0,2013.0,Public Servant,A01-A04,Central Office,Information and Technologies,Casual,Male,21-25
722,83,Contract Expired,Sep-13,2013.0,2013.0,Public Servant,A01-A04,Central Office,Information and Technologies,Casual,Male,51-55
723,84,Contract Expired,Sep-13,2013.0,2013.0,Public Servant,A01-A04,Central Office,Information and Technologies,Casual,Male,31-35
744,85,Resignation-Other employer,Dec-13,1991.0,2004.0,Public Servant,A01-A04,Central Office,Information and Technologies,Permanent Full-time,Female,41-45
819,86,Resignation-Move overseas/interstate,Jan-14,2009.0,2009.0,Public Servant,A01-A04,Central Office,Education Queensland,Permanent Full-time,Female,31-35

## Thank you

### Remaining will on Alteryx